.gallery {
  padding: 16px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 16px;

  .grid-item:nth-child(3n + 1) {
    transform-origin: left;
  }

  .grid-item:nth-child(3n) {
    transform-origin: right;
  }
}
