@import '../../global-styles/mixins/index.pcss';

footer {
  padding-top: 54px;
  padding-bottom: 27px;

  .flex {
    display: flex;
    padding: 8px 32px;

    @include mobile {
      flex-direction: column;
    }
  }

  section {
    flex-grow: 1;
  }
}
