@import '../../global-styles/mixins/index.pcss';

footer {
  padding-top: 54px;
  padding-bottom: 27px;

  .flex {
    @include ease(transform);
    display: flex;
    padding: 8px 32px;

    @include mobile {
      flex-direction: column;
    }
  }

  &.is-alive .flex {
    transform: scale(1.25);
  }

  section {
    flex-grow: 1;
  }
}
