@import '../../global-styles/mixins/index.pcss';

footer {
  padding-top: var(--padding_big);
  padding-bottom: var(--padding_medium);

  .flex {
    @include ease(transform);
    display: flex;
    padding: var(--padding_small) var(--padding_medium);

    @include mobile {
      flex-direction: column;
    }
  }

  &.is-alive .flex {
    transform: scale(1.25);
  }

  section {
    flex-grow: 1;
  }
}
