.image-details {
  $padding-val: 12px;
  $font-size: 20px;

  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: $font-size;

  table {
    font-size: $font-size;
    width: 100%;
    color: inherit;
    padding: $padding-val;
  }

  .remove {
    margin: $padding-val;
  }

  .filename {
    display: inline-block;
    vertical-align: middle;
  }

  .filename-input {
    height: 100%;
  }
}
