.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* background: linear-gradient(135deg, rgba(29, 13, 46, 1) 0%, rgba(179, 179, 179, 1) 100%); */
  /* background: url('../../assets/bkg.svg');
  background-size: cover; */

  /* &:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    opacity: 0.65;
    z-index: -1;
  } */

  .grow {
    flex-grow: 1;
  }
}
