@font-face {
  font-family: 'Exo2';
  font-weight: 400;
  src: url('../../assets/Exo2-Light.woff2') format('woff2'),
    url('../../assets/Exo2-Light.woff') format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Exo2', sans-serif;
}

* {
  box-sizing: border-box;
}
