.theme-light {
  .secondary-light {
    /* background: linear-gradient(
      160deg,
      rgba(255, 207, 25, 0.9080766095500701) 21%,
      rgba(32, 166, 225, 0.815639634760154) 53%,
      rgba(255, 255, 255, 0) 77%
    ); */
    background: linear-gradient(
      160deg,
      rgba(255, 207, 25, 0.9080766095500701) 21%,
      rgba(255, 255, 255, 0) 77%
    );
    color: black;
  }

  .secondary-dark {
    background: black;
    color: white;
  }
}
