@import './mixins/index.pcss';

.narrow {
  margin-left: 16%;
  margin-right: 16%;
  @include tablet {
    margin-left: 8%;
    margin-right: 8%;
  }
}

.vertical-fix:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
  margin-right: -1px;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
