@import '../../global-styles/mixins/index.pcss';

header {
  font-size: var(--font_big);
  height: var(--padding_huge);
  white-space: nowrap;
  .header-icon {
    display: inline-block;
    background: blue;
  }

  .header-content {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
  }

  .controls {
    flex-grow: 1;
    text-align: right;
  }

  .control {
    margin-right: var(--common-padding);
  }

  .whitening {
    min-height: 100%;
  }
}
