header {
  font-size: 28px;
  height: 96px;
  .header-icon {
    display: inline-block;
    background: blue;
  }

  .whitening {
    padding: 16px;
    min-height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 26%,
      rgba(255, 255, 255, 1) 80%
    );
  }
}
