@import '../../global-styles/mixins/index.pcss';

header {
  font-size: var(--font_big);
  min-height: var(--padding_huge);
  height: var(--padding_huge);
  white-space: nowrap;

  .background-whitening {
    height: 100%;
  }

  .content {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
  }

  .controls {
    flex-grow: 1;
    text-align: right;
  }

  .control {
    margin-right: var(--common-padding);
  }
}
