$transition-base: cubic-bezier(0.26, 1.71, 0.77, 1.26);
$default-time: 300ms;

@mixin cubic($prop, $time: $default-time) {
  transition: $time $transition-base $prop;
}

@mixin duo-cubic($p1, $p2, $time: $default-time) {
  transition: $time $transition-base $p1, $time $transition-base $p2;
}

@mixin ease($p1, $time: $default-time) {
  transition: $time ease-in-out $p1;
}
