$tablet: 960px;
$pc-min: 961px;
$mobile: 640px;

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin pc-only {
  @media (min-width: $pc-min) {
    @content;
  }
}
/* 
@mixin mobile-tablet {
  /* @include mobile() {
    @content;
  }
  @include tablet() {
    /* @content; 
  }
} */
