$tablet: 960px;
$pc-min: 961px;
$mobile: 640px;

@mixin tablet {
  @media all and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: $mobile) {
    @content;
  }
}

@mixin pc-only {
  @media all and (min-width: $pc-min) {
    @content;
  }
}
