@import '../../global-styles/mixins/index.pcss';

.action-input {
  display: inline-block;
  vertical-align: middle;

  input {
    border-radius: 4px;
    border: 0;
    max-width: inherit;
    background: rgba(255, 255, 255, 0.3);
    padding: var(--padding_mini) var(--padding_regular);
    font-size: inherit;
    color: white;
    height: 100%;
  }
}
